/* ========================================
  page / company-message.scss
======================================== */
.company-message {
  padding-top: rem(56);
  background: transparent url(../images/page-company/page-company_bg-sp.png) no-repeat center center / contain;
  @include mq(md) {
    padding-top: rem(94);
    padding-bottom: rem(84);
    background: transparent url(../images/page-company/page-company_bg-pc.png) no-repeat center center / contain;
  }
  &__concept {
    margin-top: rem(20);
    @include mq(md) {
      margin-top: rem(17);
    }
  } 
}